# Database
DATABASE_URL=
DB_HOST=
DB_PORT=
DB_PASSWORD=
DB_USER=
DB_NAME=-local

# Better Auth
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=

# Resend
RESEND_API_KEY=
EMAIL_FROM=
EMAIL_TO=

# Upstash
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
