DATABASE_URL=postgres://postgres:changeme@localhost:5432/shiplist

BETTER_AUTH_SECRET=GENERATE-SECRET
BETTER_AUTH_URL=http://localhost:3000

POSTGRES_USER=postgres
POSTGRES_PASSWORD=changeme
POSTGRES_DB=shiplist